body{
  text-align: center;
}
ul{
  list-style: none;
}
#Nous{
  width: 100%;
  display: flex;
}
#Morgane, #Pauline{
  width: 50%;
  font-family: 'courgette', cursive;
}

h1{
  background-color: bisque;
  font-size: 3em;
  font-family: 'Luckiest Guy', cursive;
}
