*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  text-align: center;
}

body>p{
  font-family: 'Luckiest Guy', cursive;
  font-size: 20px;
}

h1{
  font-size: 4.5em;
  font-family: 'Luckiest Guy', cursive;
 
}

/*************************************Bannière */

header h1{
  padding: 10px;
  position: absolute;
  z-index: 1;
  right: 5%;
  top:10%;

}

header img{
  width: 100%;
  height: 35vh;
  object-fit: cover;
  opacity: 70%;

}

/*************************************Bonjour */
#bonjour{
  font-family: 'Luckiest Guy', cursive;
  padding: 25px 0 5px 0;
  font-size: 35px;
}
/*************************************Nous */
#Nous{
  width: 100%;
  display: flex;
  padding: 50px;
}
#Morgane, #Pauline{
  width: 50%;
  font-family: 'courgette', cursive;
}
/*************************************Listes */

nav{
  padding-top: 10px;
}
ul{
  list-style: none;
}

li img{
  padding: 5px;
}

a img{
  margin-right: 10px;
  margin-left: 10px;
}

a img:hover{
  transform: rotate(360deg);
  transition: 0.55s;
}
li img{
  padding: 5px;
}

/*************************************Boutons */

button{
  text-decoration: none;
  padding: 2%;
  margin: 2%;
  box-shadow: 20px -10px #7ca735;
  border: none;
  border-radius: 5%;
}

button a{
  text-decoration: none;
  color: #000;
}

button a:hover{
  color: #7ca735;
}

/*************************************Pannier */


#panier img{
  position: fixed;
  right: 10px;
  top: 10px;
  width: 2%;
}
